<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
    <session-factory>

        <property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">secret123</property>

        <property name="current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.jdbc.batch_size">5</property>

        <mapping class="school.model.Person"/>
        <mapping class="school.model.Student"/>
        <mapping class="school.model.School"/>
        <mapping class="school.model.Teacher"/>
        <mapping class="school.model.Grade"/>
        <mapping class="school.model.Staff"/>
        <mapping class="school.model.Principal"/>
        <mapping class="school.model.Clerk"/>
        <mapping class="school.model.Board"/>
        <mapping class="school.model.PTA"/>
        <mapping class="school.model.Parent"/>
    </session-factory>
</hibernate-configuration>
